---

layout: default
title: About Our Startup Studio

---

       <section id="about" class="cappui-page-intro">
          <div class="container">
              <div class="row">
                 <div class="col-md-12">
                        <h3><span>Information + Design + Development + Strategy.</span></h3>
                          <hr>
                         <p>Cappui proves the hypothesis of ideas to craft into products beyond beta and into monetisable companies over a twenty four to thirty six month period. We are fortunate to have identified through experience the common pitfalls of why companies or products fail. And have developed a best practice of our own to craft successful products.</p>

                         <p class="normal">We are not an incubator, accelerator or agency. We are simply a studio that creates startups. Usually based on our own ideas. And we craft these ideas into products that are concepted   to challenge and change the way people think, live and work. Collaborating with great companies, founders or early-stage startups with mutually aligned visions through strategic partnerships as a collective to innovate and change global markets. So we are a startup studio building software companies from products.</p>


                         <p class="normal">So what happens at a startup studio? Well beyond the ideation stage when we've successfully proven an idea to work on after scrapping eight out of ten ideas in the process. We then move onto an incubation phase of crafting a prototype, working closely with prospective customers through focus groups for continuous feedback, branding the product and continuing to iterate until a suitable product-market-fit has been found to grow a product into a growth stage company. Cappui specialises in technology and product strategy to system and user experience design.</p>

  

                  </div> <!-- col-md-12  -->
            </div> <!-- row -->


           <div class="row">
              <div class="col-md-12" > 

                <hr>      

                <h3><span>Management.</span></h3>
                <p>These are the people continually crafting and iterating Cappui the mothership for our products. </p>

                 </div>
            </div>

            <div class="row">
              <div class="col-md-3 middle" >           

                  {% for h in site.data.images %}
                    {% if h.about_image == "duncan alistair forbes" %}
                   <img src="{{ h.href }}" title="{{ h.about_image }}" >
                    {% endif %}
                  {% endfor %}     


              </div> <!-- col-md-4 --> 

                <div class="col-md-8" > 
                 <p class="normal">Cappui was founded by Duncan Forbes, a full-stack developer who wanted to take his experience of starting a lifestyle company back in 2012 and his knowledge of a generational family business. And craft software and products that solve real problems as a company. The languages he crafts software in are Python, ReactJS and GoLang. And is always experimenting and learning emerging development tools. His more recent interests to date are playing with virtual reality and seeing its future potential for enterprise use cases and new consumer experiences. He is very much influenced by Japanese philosophy, art and literature. And loves to sail, mountain bike, and hike.</p>
                 
                 <ul class="about-social">

                <li><a href="//github.com/DuncanAForbes"  target="_blank" class="facebook-share"><i class="fa fa-github"></i></a></li>   
               
                <li> <a href="//twitter.com/DuncanAForbes"  target="_blank" class="twitter-share"><i class="fa fa-twitter"></i></a></li>
                
                <li><a href="//uk.linkedin.com/in/duncanalistairforbes
"  target="_blank" class="linkedin-share"><i class="fa fa-linkedin"></i></a></li>  

               </ul>
            
                 
                </div>
           </div> <!-- .row -->

           <div class="padding-top-140px"></div>

        </div> <!-- cappui-page-intro -->
      </section>
 

