---

layout: nofoot
title: Products We Craft In Partnership With Corporations As R&D.

---
 

    <section  id="research-and-development" class="cappui-page-intro section-padding">
        <div class="container">
           <div class="row">
              <div class="col-md-8 col-md-push-2">
 
                <h1 class="h2-blue-two">Research and Development. Products That We Are Crafting In Partnership With And For Corporations.</h1>
                
                 <h2>We work closely with a select number of forward-thinking companies at a time. Those who wish to innovate and create new products that are smart, challenge the status quo and create new experiences both for businesses, enterprises and consumers. These companies invest in us by strategically working together to design and craft the future.</h2>
                
                 <img src="//s3-eu-west-1.amazonaws.com/cappui-labs/cappui-products.png">

                 <p>We have an agile process and love to launch products and prove the hypothesis of ideas. Turning them into products that may become great assets to your business. Spiking new growth and life into your businesses eco-system. Our development cycle is continuous and focuses on strategies that complement your long term goals.</p>

              </div> <!-- .col-md-8 .col-md-push-2 -->
          </div> <!-- .row -->
          <div class="row">
              <div class="col-md-8 col-md-push-2" > 

                <hr>      

                <h3>Our Partner Program. Is Now Open.</h3>
                <p>From 1st May, 2016. We are open to taking on our first corporate partners. To help research and develop exciting new products and technologies as strategic partners. Complementing both yours and our long-term goals. Sharing resources, knowledge and skills. Investing our raw talent and putting new teams together to help craft future pioneering companies alongside one another.</p>


                  <div class="btn-group" role="group" aria-label="cappui-buttons">

                       <a href="//cappui.typeform.com/to/oBjlmb" class="btn btn-ghost btn-accent btn-large btn-weight"target="_blank" type="button">Become A Partner</a>
                       
                       <a href="#letstalk" class="btn letspeak btn-ghost btn-accent btn-large btn-weight" type="button">Lets Talk Now</a>

                  </div> <!-- btn-group -->
              </div> <!-- .col-md-8 .col-md-push-2
           </div> <!- .row -->
        </div> <!-- .cappui-page-intro -->

    </section>


    <section  id="research-and-development-main-content" class="cappui-page-content">
        <div class="container">
          
           <div class="row">
              <div class="col-md-12 padding-top-120px" >           

                <h3>Our Skillset.</h3>
                <p>We've a passion for creating products that could change the way people think and add new value to their lives. Through our past mistakes we've learnt and created a set of user experience and modern development principles. These principles allow us to set us above the rest.</p>

              </div>
           </div>

          <div class="row padding-top-30px">
              
               <div class="col-md-4 skills-img col-md-push-4 " >           

                    {% for p in site.data.images %}
                      {% if p.partner_image == "skills" %}
                     <img src="{{ p.href }}" title="{{ p.partner_image }}">
                      {% endif %}
                    {% endfor %}

              </div>
              <div class="col-md-4 col-md-pull-4 skills-r">           

                   <h3 class="small-l" >Design Thinking.</h3>
                   <h2 class="green" >End-User Focused +</h2>
                   <h2 class="green" >Web & Mobile UI +</h2>
                   <h2 class="green" >Simplicity Driven +</h2>
                   <h2 class="green" >Brand Development +</h2>
                   <h2 class="green" >Growth Tools Integration +</h2>
                   <h2 class="green" >User Story Creation +</h2>
                   <h2 class="green" >User Observation +</h2>
                   <h2 class="green" >Brand Direction +</h2>

                   <a href="/customer-experience-engineering/" class="btn btn-ghost btn-accent btn-large">Our Process</a>
   

              </div>
              <div class="col-md-4 " >           

                  <h3 class="small-r" >Modern Development.</h3>

                  <h2 class="black" >+ Technology Strategy</h2>
                  <h2 class="black" >+ Technical Specifications</h2>
                  <h2 class="black" >+ Distributed Systems</h2>
                  <h2 class="black" >+ MYSQL & NOSQL</h2>
                  <h2 class="black" >+ Rest API</h2>
                  <h2 class="black" >+ Python/GoLang/ReactJS .Etc</h2>
                  <h2 class="black" >+ Content APIs</h2>
                  <h2 class="black" >+ HTML5/CSS3</h2>

                  <a href="/modern-application-development/" class="btn btn-ghost btn-accent btn-large">Our Process</a>

              </div>
           </div>

                <hr>

           <div class="row">
              <div class="col-md-12 padding-top-30px" >           

                <h3>Our Formula.</h3>
                <p>We use a formula that is used throughout our whole phase process of Ideation, Incubation and Growth. That like our user experience and modern development process. Enables us to focus on our long term strategies and craft a product into a company that has a positive impact.</p>

              </div>
           </div>
           <div class="row padding-top-30px">    
              <div class="col-md-12" >           

                    <h3 class="maths">
                     <table cellpadding="0" cellspacing="0" class="matrixbrak">
                       <tbody>
                              <tr>
                              <td>End-User * Product * Strategy * Company * Profit &nbsp; &#8721; &nbsp; </td>
                              <td class="lbrak">&nbsp;</td>
                              <td> 
                              <table cellpadding="0" cellspacing="0" class="matrix">
                              <tbody>
                              <tr>
                              <td>
                              <i>Trends</br>Technology</br>Talent</br>Timing</i>
                              </td>
                              </tr>
                              </tbody>
                              </table> 
                              </td>
                              <td class="rbrak">&nbsp;</td>
                              <td>&nbsp; * Refine &nbsp; &#8721; &nbsp;</td>
                              <td class="lbrak">&nbsp;</td>
                              <td> 
                              <table cellpadding="0" cellspacing="0" class="matrix">
                              <tbody>
                              <tr>
                              <td>
                              <i>Social</br>Sustainable</br>Eviromental</i>
                              </td>
                              </tr>
                              </tbody>
                              </table> 
                              </td>
                              <td class="rbrak">&nbsp;
                              <td colspan="2" class="uplimit">
                                2
                              </td>
                              </td>
                       </tbody>
                    </table> 
                  </h3>

              </div>
           </div>

                <hr>


           <div class="row">
              <div class="col-md-12 padding-top-30px" >           

                <h3>Our Process.</h3>
                <p>Part of our culture is to challenge ourselves everyday and be driven by our passion to create new experiences. Staying disciplined and focused doing our best everyday. To keep ourselves focused. Sticking to our companies design thinking and modern development prinicples. As well most notably continuing to learn new things daily. To improve our skillset.</p>

              </div>
            </div>


            <div class="row">
              <div class="col-md-4 padding-top-30px ">           

                    <h3 class="small-r" >Phase 1: Ideation.</h3>
                    <h2 class="black" >During the first phase we research and develop ideas and concepts. Brainstorming and testing their hypothesis. Through a mix of focus groups with possible customers and market analysis. Where 8 out of 10 ideas are scrapped. Until we find a desirable and complex problem to address. Which we can simplify and solve.</h2>
                    <h2 class="black" >The ideation stage is meant to allow us to identify markets that have opportunities. And are not yet being disrupted and could add real value when crafted and brought to market.</h2>

              </div>
              <div class="col-md-4 padding-top-30px">           

                   <h3 class="small-r" >Phase 2: Incubation.</h3>
                   <h2 class="green" >During the second phase we work in an extremely disciplined manner to craft products at speed. Although the aesthetic design is extremely important to us. We stick to a minimalistic approach both in user interface design and modern development. And we believe it important to get to know our customers throughout the development of the product.</h2>
                   <h2 class="green" >The main goal for this phase is to test whether our hypothesis proves itself further and can be scaled into a profitable business.</h2>

              </div>
              <div class="col-md-4 padding-top-30px" >           

                    <h3 class="small-r" >Phase 3: Growth.</h3>

                    <h2 class="black" >During the third phase we've collectively realised how to address the markets needs of our customers. Through strategic partnerships that include E.g resource or knowledge sharing. Then combine our market and operating knowledge with a dedicated team. And capital to scale from product to a growth business.</h2>

                    <h2 class="black" >The growth phase's primary goal is to create companies that have a social, sustainable and environmental impact. Which add real value.</h2>


              </div>
           </div>
         </div> <!-- container -->
      </section> <!-- cappui-page-content -->
