---
layout: default
---
 
 
    <section  id="idea" class="hero-strip section-padding" style="padding-bottom: 77px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 text-center">
            
                    {% for dev in site.data.images %}
                      {% if dev.develop_image == "develop-header" %}
                     <img src="{{ dev.href }}" title="{{ dev.develop_image }}" style="width: 70%;" >
                      {% endif %}
                    {% endfor %}  

                </div>
         
          
                <div class="col-md-6 col-md-pull-6">
                    
                    <h1 style="color: #fff; text-align: left;" >Cappui Accessibilty</h1>
                    <h3 style="line-height: 1.8em; font-size: 1.6em; text-align: left;">This site has been designed and constructed to the W3C's WAI accessibility AA rating. This means that the site can be navigated using the tab button and by pre-defined access keys.</h3>
      
              
            </div>
        </div>
      </div>
    </section>


    <section  id="accessibility" class="accessibilty-cappui-main section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2 ">

                        <p>The site can also be read through screen readers and Braille displays such as:</p>
                   
                        <h3>Screen Readers:</h3> 
                        <ul>

                        <li>VoiceOver (Mac)</li>
                        <li>Jaws (Windows)</li>
                        <li>Window-Eyes (Windows)</li>
                        <li>Emacspeak (Linux)</li>

                        </ul>

                        <h3>Braille Displays:</h3> 
                        <ul>

                        <li> Focus (Windows)</li>
                        <li>Brilliant (Mac)</li>

                       </ul>
                        <p>You can find more information on accessibility by clicking the web accessibility links below:</p>
                        <ul>

                        <li>DisabilityDiscrimination Act (UK)</li>
                        <li>Section508 (US)</li>
                        <li>W3CWeb Accessibility Initiative</li>

                        </ul>
                        <h3>Access Keys:</h3> 
                        <p>You can access the site without the need for a mouse using the following access keys:</p>
                        <ul>

                        <li> C = Jump to main content</li>
                        <li>  N = Jump to primary navigation</li>
                        <li> S = Skip navigation</li>
                        <li> 1 = Homepage</li>
                        <li> 4 = Search</li>

                        </ul>

                       <p>To navigate with access keys follow these steps:</p>
                        <ul>

                            <li>Windows: Hold down the ‘Alt’ key and the access key,followed by the ‘Enter’ key.</li>
                            <li>Mac: Hold down the ‘Ctrl’ key and the access key.</li>

                        </ul>
                        <p>The pages on this website comply with the recommended UK Government access keys standard.</p>

                        <h3>Images</h3> 
                        <p>All content images on this site are provided with descriptive ALT attributes.Where images contain important information, such as graphs and charts,alternative information is provided in the form of inline descriptions of tabular data.</p>

                        <h3>Navigation</h3>
                        <p>All pages contain a link to the home page (access key 1) and search box (access key 4).</p>

                        <p>Jump to main content (access key C) is available to users of screen readers and speech browsers, to bypass graphical and navigational elements - such as the logo and header components - and jump directly to the main navigation.</p>

                        <p>Jump to primary Navigation (access key S) is available to users of screen readers and speech browsers, to bypass graphical elements - such as the logo and header components - and jump directly to the main navigation.</p>

                       <p>Skip navigation (access key S) is available to users of screen readers and speech browsers, to bypass repeated page elements - such as the top and side navigation links - and jump directly to the page content.
                  </p>
            </div>
        </div>
    </section>

