---
layout: default
---
 
    <section id="workwithus">
      <div class="work-with-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2  text-center">
                
                    <h1>Innovation + Technology + Creativity = Cappui</h1>
                    <h2>We love collaborating one-to-one with clients 
                    and crafting great ideas into existence.</h3>
                    
                </div> <!-- col-md-12 text-center -->
              </div> <!-- row -->
        
               <div class="row">
                  <div class="col-md-8 col-md-push-2 text-center">
             
                   <p>We consult with you on a one-on-one basis. Analyse your ideas and target market. See how best they will fit into the current global and economic landscape. Architect the right technology strategies. And design user-experience's that we implement into modern distributed or decentralised applications. Advising you from beginning to end with medium and long-term strategies to succeed with your projects.</p>
            
                 </div> <!-- col-md-8 col-md-push-2 text-center --> 
               </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- work-with-us -->

      <div class="work-with-us-bk"></div> <!-- work-with-us-bk -->

    </section> <!-- #workwithus -->

    

    <section  id="wwi-services" class="wwi-services">
        <div class="container">
            <div class="row">
           
              <div class="col-md-5 col-md-push-1">
         
                <h2>
                 Design Thinking</h2>
                                
                 <p>Design thinking is a continuous process where we analyse and observe your applicaitons end-user engagements. Measuring how they interact and navigate through your application or website. Holding focus groups with real people to better understand key strategies that may enable increased user engaement. To finally designing and implementing the most suitable solution for your end-users experience. Be it a business or enterprise application.</p>  

                 <a href="/customer-experience-engineering/" class="btn btn-ghost btn-accent btn-large"  >Dip Deeper Into Design Thinking</a>
         
                </div> <!-- col-md-5 col-md-push-1 -->     

      
               <div class="col-md-5 col-md-push-1 ">
               
                   <h2>
                   Modern Development</h2>

                   <p>Modern development's an infinite cycle. We architect solutions and technology strategies that best fit your company's medium and long term goals. Where we can then build and implement these solutions for you to the designed specfication. During the process we consider your companies long term risk, analyse your competitors and future economic impacts with every choosen specfication. Be it a business or enterprise application.</p>
               
                   <a href="/modern-application-development/" class="btn btn-ghost btn-accent btn-large" >Dip Deeper Into Modern Development</a>

              </div> <!-- col-md-5 col-md-push-1 -->
            </div> <!-- row -->
          </div> <!-- container -->
    </section> <!-- wwi-services -->
 


    <section  id="lets-talk" class="lets-talk">
      <div class="container">
         <div class="row">
           <div class="col-md-6">
               
                <h2>
                Lets Speak Now</h2>
               
                <p>We would be really excited to learn more about your project and what ideas you have. So chat to us in real-time now. It would be a delight to hear from you.</p>
               
                <a href="#letspeak" class="btn-home letspeak btn-ghost btn-accent btn-large" >Speak To Us Now</a>

            </div> <!-- col-md-6 -->

            <div class="col-md-6">

                   {% for dev in site.data.images %}
                      {% if dev.develop_image == "communicate" %}
                     <img src="{{ dev.href }}" title="{{ dev.develop_image }}">
                      {% endif %}
                    {% endfor %}           
            
            </div> <!-- col-md-6 -->
          </div> <!-- row -->
       </div> <!-- container -->
     </section> <!-- #lets-talk .lets-talk -->



     <section  id="public-speaking-events" class="public-speaking-events">
        <div class="container">
           <div class="row">
              <div class="col-md-6">

                   {% for dev in site.data.images %}
                      {% if dev.work_image == "talks" %}
                     <img src="{{ dev.href }}" title="{{ dev.work_image }}">
                      {% endif %}
                    {% endfor %}                    
            
              </div> <!-- col-md-6 -->

              <div class="col-md-6">
                
                <h2>Public Speaking and Events</h2>
               
                <p>We are always thinking up new and exciting ideas to bring the community together through events. And would be delighted to speak to you if you are interested in collborating on an event with us or have an idea for event of your own. We would even be keen on talking at events. So reach out to us if you think we are fit.</p>
               
                <a href="/bevare-fund-and-finance-data-marketplace/" class="btn-home btn-ghost btn-accent btn-large"   target="_blank" >Let's Collaborate</a>

              </div> <!-- col-md-6 -->
           </div> <!-- row -->   
         </div> <!-- container -->
     </section>  <!-- #public-speaking-events .public-speaking-events -->


     <section  id="partners-investors" class="partners-investors">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
               
                <h2>Strategic Partners and Investors</h2>
               
                <p>We are always looking for well aligned corporate strategic partnerships with companies that have similar goals to ours. And are either looking to invest in R&D for innovation or share knowledge, resources or technology. We also are always interested in meeting casually over tea accredited investors who have experience in the industries and markets our products target. We would be delighted to hear from you if you believe you could add value to helping us grow Cappui globally.</p>
               
                <a href="#letspeak" class="btn-home letspeak btn-ghost btn-accent btn-large" >Lets Craft Something Together In Union</a>

              </div>
        

              <div class="col-md-6">

  
                   {% for dev in site.data.images %}
                      {% if dev.work_image == "investors" %}
                     <img src="{{ dev.href }}" title="{{ dev.work_image }}">
                      {% endif %}
                    {% endfor %}             
            
              </div>
          </div>
        </div>
     </section>

     <section  id="partners-investors">
         <div class="row">
           <div class="col-md-12">

     <iframe frameborder="0" id="mapjam-iframe" src="//embeds.mapjam.com/v2/map-embed.html?app_url=https://mapjam.com/&cdn_url=//mapjamjson.global.ssl.fastly.net/&map_id=zfztggq&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1NmY0NzYzOGMzYWYyNzA3MDBmZGYxYTIiLCJpc3MiOiJtYXBqYW0uY29tIn0._2Sp9JNdgXJ7zHPwxZZXIRGUPu-2Add9tcBBlcCLqm4&content_action=side_popup&map_width=800px&map_height=600px&container=mapjam-1&domain=mapjam.com&disableClusteringAtZoom=1" style="width: 100%;height: 600px;margin-bottom:5px;"></iframe><div style="margin-bottom:5px;text-align: left;font-size: 12px;color: #12bf9c;"></div>

                   </div>
          </div>

       </section>
